@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Montserrat:wght@100;200;300&display=swap');

* {
        margin: 0;
        padding: 0;
}

body {
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        margin: 5px;
}

/*HEADER*/


/*MAIN*/



.fondo-index {
        background-image: url("../img/fondo-moda.jpeg");
        height: 600px;
        opacity: 0.5;
}

.fondo-index h1 {
        font-size: 100px;
        width: 100%;
        font-weight: bold;
        color: white;
        border: none;
}
.fondo-index div {
        width: 100%;
        border: none;
}

.fondo-index2 {
        background-image: url("../img/Cyber\ Monday.jpeg");
        height: 600px;
        opacity: 0.5;
        margin-top: 15px;
}

.fondo-index2 section {
        align-items: center;
        justify-content: space-around;
}

.fondo-index2 h2 {
        font-size: 200px;
        font-weight: bold;
        color: black;
}

.fondo-index2 div {
        border: none;
        width: 100%;
}

.fondo-index2 h2 {
        animation: change 15s infinite;
}

@keyframes change {
        0% {
                font-size: 100px;

        }

        25% {
                color: rgb(213, 164, 74);
                font-size: 150px;

        }

        50% {
                color: orange;
                font-size: 140px;

        }

        100% {
                color: black;
                font-size: 100px;

        }
}

.temporada {
        text-align: center;
        justify-content: center;
}

.logo {
        justify-content: flex-start;
}

main div {

        border: 1px solid black;
        text-align: center;
        padding: 5px;
        margin: 5px;
}

main h3 {
        background-color: black;
        color: white;
        margin: 4px;
        padding: 10px;
        text-align: center;
}

main section img {
        -webkit-filter: grayscale(1);
        /* Webkit */
        filter: gray;
        /* IE6-9 */
        filter: grayscale(1);
        /* W3C */
        opacity: 0.8;
}

main section {
        display: flex;
        text-align: center;
}

main section div h3 {
        display: flex;
        justify-content: center;
        padding: 15px;

}
.nosotros {
        width: 400px;
        
}

.texto {
        width: 100%;

}



/*FOOTER*/


footer {
        display: flex;
        justify-content: space-between;
        height: 150px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 30px;
}

footer img {
        width: 45px;
        height: 45px;
        transition: 1s;
}

footer img:hover {
        transform: scale(1.3);

}



/**formulario**/



.parrafo {
        width: 50%;
        height: 550px;
}
.action {
        
}

.form {
        width: 70%;
        padding: 20px;
        margin: 20px;
        border: 2px solid black;
        border-radius: 4px;
        height: 20px;
        font-size: 12px;
}

.button {
        font-size: 15px;
        width: 30%;
        margin: 10px;
        border: 2px solid black;
        border-radius: 4px;
        height: 30px;
}

h2 {
        font-size: 30px;
        font-weight: bolder;
        padding: 10px;
}

/**GRID**/

.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:repeat (3, 1fr);
        grid-gap: 5px;
        padding: 10px;
        /**background-color: black;**/
        border-radius: 1%;
        margin-left: 80px;
        margin-right: 80px;
}

.grid-items {
        background-color: white;
        font-size: 80px;
        /**margin: 2px;**/
        padding: 2px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        border-radius: 5%;
}

img {
        border-radius: 5%;
}


/** MEDIA SCREEN 750PX **/

@media screen and (max-width:750px) {
        .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows:repeat(5, 1fr);
                grid-gap: 5px;
                font-size: 50px;
                padding: 0px;
                margin: 0px;
                /**padding: 10px;**/
                /**background-color: black;**/
                border-radius: 1%;
                /**margin: 100px;**/
        }
        .grid-items {
                background-color: white;
                font-size: 30px;
                /**margin: 2px;**/
                padding: 2px;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                border-radius: 5%;
        }


        footer image {
                width: 25%;
                height: 25%;
        }

        

        footer img {
                width: 35px;
                height: 35px;
                transition: 1s;
        }

        footer img:hover {
                transform: scale(1.3);

        }
        .fondo-index {
                background-image: url("../img/fondo-moda.jpeg");
                height: 400px;
                opacity: 0.5;
        }
        
        .fondo-index h1 {
                font-size: 50px;
                font-weight: bold;
                color: white;
        }
        .fondo-index div {
                width: 100%;
                align-items: center;
                justify-content: center;
                border: none;
        }
        
        .fondo-index2 {
                background-image: url("../img/Cyber\ Monday.jpeg");
                height: 400px;
                opacity: 0.5;
                margin-top: 15px;
        }
        
        .fondo-index2 h2 {
                font-size: 100px;
                font-weight: bold;
                color: black;
                justify-content: space-around;
                text-align: center;
        
        }
        
        .fondo-index2 div {
                align-items: center;
                justify-content: center;
                width: 100%;
                border: none;
        }
        
        .fondo-index2 h2 {
                animation: change 5s infinite;
        }
        
        @keyframes change {
                0% {
                        font-size: 60px;
        
                }
        
                25% {
                        color: rgb(213, 164, 74);
                        font-size:50px;
        
                }
        
                50% {
                        color: orange;
                        font-size: 40px;
        
                }
        
                100% {
                        color: black;
                        font-size: 30px;
        
                }
        }

/**formulario 750 max-width**/

.parrafo {
        width: 30%;
        height: 450px;
        font-size: 10px;
}
.action {
        
}

.form {
        width: 80%;
        padding: 20px;
        margin: 10px;
        border: 2px solid black;
        border-radius: 4px;
        height: 5%;
        font-size: 10px;
}

.button {
        font-size: 10px;
        width: 30%;
        margin: 10px;
        border: 2px solid black;
        border-radius: 4px;
        height: 30px;
}

h2 {
        font-size: 10px;
        font-weight: bolder;
        padding: 10px;
}
        

        

}

/** media screen 350**/

@media screen and (max-width:350px) {
        .grid {
                display: grid;
                grid-template-columns: repeat( 1, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-gap: 5px;
                font-size: 50px;
                /**padding: 10px;**/
                /**background-color: black;**/
                border-radius: 1%;
                /**margin: 100px;**/
        }


        footer image {
                width: 25%;
                height: 25%;
        }

        .fondo-index2 h2 {
                font-size: 50px;
                font-weight: bold;
                color: black;
                text-align: center;
                justify-content: space-around;

        }

        .fondo-index h1 {
                font-size: 30px;
                font-weight: bold;
                color: white;
                text-align: center;
                justify-content: space-around;
        }

        .fondo-index2 h2 {
                animation: change 15s infinite;
                justify-content: space-around;
        }

        @keyframes change {
                0% {
                        font-size: 60px;
                        justify-content: space-around;

                }

                25% {
                        color: rgb(213, 164, 74);
                        font-size: 50px;
                        justify-content: space-around;
                }

                50% {
                        color: orange;
                        font-size: 40px;
                        justify-content: space-around;

                }

                100% {
                        color: black;
                        font-size: 30px;
                        justify-content: space-around;
                }

        }

        footer img {
                width: 35px;
                height: 35px;
                transition: 1s;
        }

        footer img:hover {
                transform: scale(1.3);

        }

}